<persistence-unit name="org.drools.persistence.jpa" transaction-type="JTA">
​   <provider>org.hibernate.ejb.HibernatePersistence</provider>
​   <jta-data-source>jdbc/BitronixJTADataSource</jta-data-source>
​   <class>org.drools.persistence.info.SessionInfo</class>
​   <class>org.drools.persistence.info.WorkItemInfo</class>
​   <properties>
​         <property name="hibernate.dialect" value="org.hibernate.dialect.H2Dialect"/>
​         <property name="hibernate.max_fetch_depth" value="3"/>
​         <property name="hibernate.hbm2ddl.auto" value="update" />
​         <property name="hibernate.show_sql" value="true" />
​         <property name="hibernate.transaction.manager_lookup_class"
​                      value="org.hibernate.transaction.BTMTransactionManagerLookup" />
​   </properties>
​</persistence-unit>